* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(180deg, #add8e6 0%, #ffffff 50%, #ffb6c1 100%);
  height: 100vh;
  
  font: 1rem "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
}

button,
a {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
